# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
backend/db.sqlite3
backend/media/

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env

# Flutter / Dart
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/pubspec.lock
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/
mobile/ios/.symlinks/
mobile/ios/Pods/
mobile/ios/Podfile.lock
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Runner.xcworkspace/xcuserdata/
mobile/.pub-cache/

# macOS
.DS_Store
**/.DS_Store

# IDE
.idea/
.vscode/
*.iml
